<!DOCTYPE html>
<html>
    <head>        
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Daftar Tugas</title>
    </head>

    <body>        
        <div class="container mt-3">     
            <div class="jumbotron mx-5">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label >File to upload</label>
                        <input type="file" class="form-control" name="upfile" accept="image/*" required>
                    </div>
                     
                    <button type="submit" class="btn btn-primary btn-block">Upload</button>
                </form>
            </div>

            <div class="jumbotron mx-5">
                <h1 class="mb-5"><strong>Blob in container</strong></h1>
                <div class="row">                    
                    <div class="col-sm">
                        <h2><strong>Name</strong></h2>
                    </div>
                    <div class="col-sm">
                        <h2><strong>Url</strong></h2>
                    </div>                                                      
                </div> 
               
                <% data.forEach(function (blob) { %>
                <div class="row">                    
                    <div class="col-sm">
                        <h4><%= blob.name %></h4>
                    </div>
                    <div class="col-sm">
                        <a href = "https://daftartugaswebapp.blob.core.windows.net/images/<%= blob.name %>">Download</a>
                    </div>   
                </div>
                <% }); %>      
            </div>

            <div class="jumbotron mx-5">                
                <form action="/analyze" method="POST">
                    <div class="form-group">
                        <label >Image URL</label>
                        <input type="text" class="form-control" name="imageurl">
                    </div>
                     
                    <button type="submit" class="btn btn-primary btn-block">Analyze</button>
                </form>
            </div>            
        </div>        
    </body>
</html>